<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_URI} \/\..+$
  RewriteRule .* /index/notfound [R,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule !\.(js|ico|gif|jpg|png|bmp|swf|css|html)$ index.php [QSA,L]
</IfModule>
